pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "getmetainfo",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[getmetainfo]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "metainfo",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getmetainfo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getmetainfo').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set storage container",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "storagecontainer",
								"value": {
									"value": "@activity('getmetainfo').output.value.storagecontainer",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"storagecontainer": {
				"type": "String"
			},
			"storagefolder": {
				"type": "String"
			},
			"storageblob": {
				"type": "String"
			},
			"dlscontainer": {
				"type": "String"
			},
			"dlsfolder": {
				"type": "String"
			},
			"dlsblob": {
				"type": "String"
			},
			"sqldb": {
				"type": "String"
			},
			"schemaname": {
				"type": "String"
			},
			"tablename": {
				"type": "String"
			}
		},
		"annotations": []
	}
}