pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "getmetainfo",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[getmetainfo]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "metainfo",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getmetainfo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getmetainfo').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set storage container",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "storagecontainer",
								"value": {
									"value": "@item().storagecontainer",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set storagefolder",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "storagefolder",
								"value": {
									"value": "@item().storagefolder",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set storageblob",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "storageblob",
								"value": {
									"value": "@item().storageblob",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set dlscontainer",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "dlscontainer",
								"value": {
									"value": "@item().dlscontainer",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set dlsfolder",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "dlsfolder",
								"value": {
									"value": "@item().dlsfolder",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set dlsblob",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "dlsblob",
								"value": {
									"value": "@item().dlsblob",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set sqldb",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "sqldb",
								"value": {
									"value": "@item().sqldb",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set schemaname",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "schemaname",
								"value": {
									"value": "@item().schemaname",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set tablename",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tablename",
								"value": {
									"value": "@item().tablename",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data to ADLS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set storage container",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set dlscontainer",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set storageblob",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set sqldb",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set dlsblob",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set storagefolder",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set dlsfolder",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set tablename",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set schemaname",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "customercsv",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@variables('storagecontainer')",
											"type": "Expression"
										},
										"folder": {
											"value": "@variables('storagefolder')",
											"type": "Expression"
										},
										"blob": {
											"value": "@variables('storageblob')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_customercsv",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@variables('dlscontainer')",
											"type": "Expression"
										},
										"folder": {
											"value": "@variables('dlsfolder')",
											"type": "Expression"
										},
										"blob": {
											"value": "@variables('dlsblob')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Copy data to SQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "customercsv",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@variables('storagecontainer')",
											"type": "Expression"
										},
										"folder": {
											"value": "@variables('storagefolder')",
											"type": "Expression"
										},
										"blob": {
											"value": "@variables('storageblob')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "customer",
									"type": "DatasetReference",
									"parameters": {
										"schemaname": {
											"value": "@variables('schemaname')",
											"type": "Expression"
										},
										"tablename": {
											"value": "@variables('tablename')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"storagecontainer": {
				"type": "String"
			},
			"storagefolder": {
				"type": "String"
			},
			"storageblob": {
				"type": "String"
			},
			"dlscontainer": {
				"type": "String"
			},
			"dlsfolder": {
				"type": "String"
			},
			"dlsblob": {
				"type": "String"
			},
			"sqldb": {
				"type": "String"
			},
			"schemaname": {
				"type": "String"
			},
			"tablename": {
				"type": "String"
			}
		},
		"annotations": []
	}
}